{{ 'style.announcement.css' | asset_url | stylesheet_tag }}


{%- for block in section.blocks -%}
    <div class="announcement bar-{{ block.settings.color_scheme }} " role="region" aria-label="{{ 'sections.header.announcement' }}">
        <a href="{{ block.settings.link | default: '#'}}" class="announcement__link">
            <p class="announcement-bar__message h5">
                {{ block.settings.text | escape }}
            </p>

        </a>
    </div>

{%- endfor -%}


{% schema %}

{
    "name": "Announcement Bar",
    "tag":"section",
    "max_blocks":3,
    "max_blocks": 12,
    "blocks": [
        {
            "type": "announcement",
            "name": "Announcement Name",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "22% OFF Sitewide until 9/12",
                    "label": "Text"
                }, {
                    "type": "select",
                    "id": "color_scheme",
                    "options": [ 
                        {
                            "value": "main",
                            "label": "Main Bg Color"
                        }, {
                            "value": "secondary",
                            "label": "Secondary Bg Color"
                        }
                    ],
                    "default": "main",
                    "label": "Color scheme"
                }, {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "announcement"
            }
        ]
    }
}

{% endschema %} 