{{ 'style.featured-products.css' | asset_url | stylesheet_tag }}
 
 
<div class='swiper swiper1'>
  <div class='swiper-wrapper'>
    {% assign selected = section.settings.collection_list | first %}
    <script>
      console.log({{selected.handle | json}},'p');
    </script>
    {% for product in collections[selected.handle].products %}
      <div class='swiper-slide collection-wrap'>
        <div class='image__wrapp'>
          <img
            src='{{product.images[0] | img_url: 'master'}}'
            alt='lelel'
            class='slide__img'
          >
        </div>
        <h1 class='slide__title'>{{ product.title  }}  <img src="{{'arrow.svg' | asset_url }}" alt="arrow" class="arrow_icon">  </h1>
      </div>
    {% endfor %}
    
  </div>
  {%- if section.settings.slider_visual == 'dots' -%}
    <div class='swiper-scrollbar'></div>
  {% endif %}
  {%- if section.settings.slider_visual == 'pagination' -%}
    <div class='swiper-pagination'></div>
  {% endif %}
</div>

<script>
  const swiper = new Swiper('.swiper1', {
    slidesPerView: 4,
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "pagination",
          "label": "Dot"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        }
      ],
      "default": "scroll",
      "label": "Scroll Type"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collection List"
    }
  ]

}
{% endschema %}
