{{ 'style.header.css' | asset_url | stylesheet_tag }}

<nav class="header__nav">
    <img src="{{section.settings.header_logo.src | img_url: 'medium'}}" alt="{{section.settings.label}}" class="nav__logo" />
    <ul class="nav__links">
     {% for link in linklists.main-menu.links %}
       <li class="nav__link">
        <a href="{{ link.url }}">{{ link.title }}</a>
       </li>
     {% endfor %}
    </ul>
    <div class="nav__icons">
      <img src="{{'icons.header.search.svg' | asset_url}}" alt="icons.header.search">
      <img src="{{'icons.header.user.svg' | asset_url}}" alt="icons.header.user">
      <img src="{{'icons.header.cart.svg' | asset_url}}" alt="icons.header.cart">
    </div>
</nav>


  {% schema %}
{
    "name":"Header",
    "settings": [
    {
        "type":"image_picker",
        "id":"header_logo",
        "label":"Header Logo"
    }
    ]
}
{% endschema %}  