{{'style.plp.opener.css' | asset_url |  stylesheet_tag }}
<div class="plp__opener__wrap">
    <div class="opener__container">

        <div class="opener__content">
            <div class="content__ibrow">
                {{collection.metafields.accentuate.test_ibrow}}     
            </div>
            <h2 class="opener__headline">highest quality equipment for your strength training</h2>
        <div class="opener__cta">
            <a href="">Consultation</a>
            <img src="{{'icons.arrow.svg' | asset_url }}" alt="" class="cta__icon">
        </div>
    </div>
    <div class="opener__images">
        <img src="{{'image.homebanner.jpg' | asset_url }}" alt="" class="openr__main__image">
        <img src="{{'image.homebanner.jpg' | asset_url }}" alt="" class="openr__side__image">
    </div>
</div>
</div>