{{'style.plp.opener.css' | asset_url |  stylesheet_tag }}
<div class="plp__opener__wrap">
    <div class="opener__container">

        <div class="opener__content">
            <div class="content__ibrow">
                {{collection.metafields.accentuate.test_ibrow}}
            </div>
            <h2 class="opener__headline">
                {{collection.metafields.accentuate.plp_headline}}
            </h2>
            <div class="opener__cta">
                <a href="{{collection.metafields.accentuate.plp_opener_cta_link}}" class="h5">
                    {{collection.metafields.accentuate.plp_opener_cta_text}}
                </a>
                <img src="{{'arrow.svg' | asset_url }}" alt="" class="cta__icon">
            </div>
        </div>
        <div class="opener__images">
            <img src="{{collection.metafields.accentuate.plp_opener_main_image[0].src }}" alt="" class="openr__main__image">
            <img src="{{collection.metafields.accentuate.plp_opener_child_image[0].src }}" alt="" class="openr__side__image">
        </div>
    </div>

    <div class="collections_wrap">
        {% assign  collectionList = collection.metafields.accentuate.all_collection | split: "|" %}
        {% for collection in collectionList %}
            <div class="collection">
                <img alt="alt" class="collection__img" src="{{collections[collection].image.src | img_url: 'master' }}">
                <h5 class="product__title">{{collections[collection].title | link_to: collections[collection].url}}</h5>
            </div>
        {% endfor %}

    </div>
</div> 