{{'style.product-preview.css' | asset_url | stylesheet_tag }}

<section class="product__preview">
    <div class="media__scroller swiper swiper-product-preview">
       <div class="swiper-wrapper product-preview__wrapper">
        {% for image in product.media %}
        <div class="swiper-slide product__img">
            <img src="{{image.src | img_url: 'master'}}" alt="{{image.alt}}">
        </div>
        {% endfor %}
       </div>
       <div class="swiper-pagination"></div>
    </div>
    <div class="product__details">
        <div class="details__wrapper">
            <h3> {{product.title}} </h3>
            <span class="details__price">${{product.price}}</span>
            <div class="details__reviews">
                <img src="{{'icon.star.svg' | asset_url }}" alt="icon.star" class="icon__star">
                <img src="{{'icon.star.svg' | asset_url }}" alt="icon.star" class="icon__star">
                <img src="{{'icon.star.svg' | asset_url }}" alt="icon.star" class="icon__star">
                <img src="{{'icon.star.svg' | asset_url }}" alt="icon.star" class="icon__star">
                <img src="{{'icon.star.svg' | asset_url }}" alt="icon.star" class="icon__star">
                <span class="review__text ">18 reviews</span>
            </div>
            <p class="product__description">
                {{product.description}}
            </p>
            <div class="product__variants">
                {% for variant in product.variants %}
              
                {% if variant.available == true %}
                    <div class="variant">
                        <input type="radio" id="{{variant.id}}" name="variant" hidden class="variant__input">
                        <div class="variant__wrap">
                            <label for="{{variant.id}}">
                                {{variant.title}}
                            </label>
                        </div>
                    </div>
                {% else %}
                    <div class="variant ">
                        <div class="disable variant__wrap">
                            {{variant.title}}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if product.tags contains 'free_shipping'%}
                <div class="free__shipping">
                    Available for Free shipping!
                </div>
            {% endif %}
            <div class="detail__cta">
                <a href="#">
                    Add to Cart
                </a>
            </div>
            <div class="extra__products__wrap">
                <h4>Frequently bought with</h4>
                <div class="extra__products">
                    <div class="extra__product">
                        <div class="product__image__wrap">
                            <img src="{{product.metafields.accentuate.frequently_bought_image[0][0].src }}" alt="product__image__wrap">
                        </div>

                        <div class="product__content__wrap">
                            <div class="product__title">
                                {{product.metafields.accentuate.fb_product_title}}
                            </div>
                            <a href="{{product.metafields.accentuate.fb_product_cta}}" class="product__cta">
                                {{product.metafields.accentuate.fb_product_cta_text}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    const swiper = new Swiper('.swiper-product-preview', {
        direction:'vertical',
        pagination: {
            el: '.swiper-pagination',
            clickable:true
        },
    });
    
  </script>


{% schema %}
{
    "name":"Porduct Preview",
    "max_blocks": 12,
    "blocks": [
        {
            "type":"Fb-Products",
            "name":"Frequently bought", 
            "settings": [
                {
                    "type":"text",
                    "id":"product_label",
                    "label":"Product Label"
                },
                {
                    "type":"image_picker",
                    "id":"product_image",
                    "label":"Product Image"
                },
                {
                    "type":"text",
                    "id":"product_title",
                    "label":"Product Title"
                },
                {
                    "type":"text",
                    "id":"product_cta_text",
                    "label":"Product Cta Text"
                },
                {
                    "type":"url",
                    "id":"product_cta_url",
                    "label":"Product Cta Link"
                }
            ]
        }
    ]
}
{% endschema %}